<h1><%= @article.title %></h1>
<div class="options-bar">
  <%= link_to "â—€ Back", articles_path, class: 'btn btn-light me-3' %>
  <%= link_to "âœï¸", edit_article_path(@article), class: 'btn btn-light me-3' %>
  <%= link_to "ðŸ—‘ï¸", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete #{@article.title}"}, class: 'btn btn-light me-3' %>
</div>

<br>
<p><%= @article.content %></p>
